.container
  %p{id: "notice"}
    = notice

  %p.lead= @invite.name
  
  %p You are invited to join
  
  %p
    %strong Dietry requirements:
    = @invite.dietry_requirements

  - if @invite.invited_to_ceremony
    %p Will you attend our ceremony?
    .btn-group
      %button.btn.btn-success.ceremony{ type: "button" } Yes
      %button.btn.btn-danger.cerenony{ type: "button"} No    
  
  - if @invite.invited_to_reception
    %p Will you attend our recption?
    .btn-group
      %button.btn.btn-success{ type: "button"} Yes
      %button.btn.btn-danger{ type: "button"} No    
