.container.guestbook
  %h1 Guest Book

  .new-message
    = button_to('Leave us a Message', new_message_path, :class => 'btn btn-large btn-primary', method: :get)

  .row
    - @messages.each do |message|
      .col-sm-6.col-md-4
        .thumbnail
          .caption
            %h3= message.from
            %p= message.message
