.container.schedule
  %h1
    Wedding Day Schedule

  .time-container
    %hr
    .time
      8:00 AM
  %ul
    %li
      %b Check in at Point Residences
      %br 
      %b Location: 
      %i Point Residences, Kangaroo Point
      %br
      %b Persons:
      %i Regine, Ricardo and Jane

  .time-container
    %hr
    .time
      9:00 AM
  %ul
    %li
      %b Meet Ricardo to give
      %br Regine, Ricardo and Jane


      






"Meet Ricardo to give:
1. Bride bouquet 
2. Bridesmaid bouquet
3. Regine's parents corsages


Pick Up Wedding Cake" "Kangaroo Point (Point Hotel) - 
with Ricardo Tan

Jocelyn's Provisions" Paul and Megan
Regine's hair appointment (Ricardo / Jane to arrange transport) Emporium Blow Dry Bar Regine
    
    
    
    
Get Dressed Grand Chancellor  Mark / Caleb
Organise ceremony flowers and carpet  Roma Street Parklands Mark / Caleb
"Bring to ceremony venue:
1. Ceremony Flowers 
2. Brown carpet for rings
3. Wedding rings
4. Speaker box
5. Phone + charger + music
6. Seat Placecards
7. Blu-Tack"  Roma Street Parklands Mark / Caleb
Wedding Ceremony  Roma Street Parklands All
"Bring:
1. Reception Flowers (3)
2. Ceremony Flowers (2)
2. Wedding Cake
3. Wedding Cake Stand
4. Wedding Favours
5. Menus and Place Cards
6. Table Runners
7. Speaker box
8. Laptop + Music"  Cha Cha Char, Eagle Street  Paul and Megan