.container

  .page-header
    %h1 Welcome to Regine Tan & Mark Cracknell's Wedding  
  
  .panel.panel-default
    .panel-heading
      %h3.panel-title Regine Tan
    .panel-body
      .profile-shot= image_tag "regine-face.jpg", class: 'img-thumbnail img-responsive'
      %p
        I grew up in Manila, Philippines with a Filipino and Chinese family. While I was named after the Filipino singer, 
        Regine Velasquez, I was not gifted to sing! I spent most of my primary and secondary school in O.B. Montessori 
        Centre Inc. where education is based on the methods of Maria Montessori. I was a bit of a “tomboy” growing up, who 
        enjoyed guns and cars and didn’t really enjoy playing with Barbie Dolls. 

      %p
        My family and I moved to Auckland, New Zealand when I was 16 where I finished Year 12 and Year 13. I pursued a 
        degree in Commerce and IT at the University of Queensland. I am now working as a Senior Analyst in Deloitte, and 
        keep myself busy by learning how to play the saxophone, playing video games and riding my bike.
        
  .panel.panel-default
    .panel-heading
      %h3.panel-title Mark Cracknell
    .panel-body
      .profile-shot= image_tag "mark-face.jpg", class: 'img-thumbnail img-responsive'
      %p
        I grew up in Manila, Philippines with a Filipino and Chinese family. We moved to New Zealand when I 
        was 16 where I finished high school. I pursued a degree in Commerce and IT at the University of Queensland 
        where I worked with Mark on a university project. Even though I completed most of the components of that 
        project, we became very close friends and became inseparable ever since.  

      %p
        I am now working as a Senior Analyst in Deloitte, and keep myself busy by learning how to play the saxophone, 
        playing video games and riding my bike.