// Place all the styles related to the Invites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.invite-show {

  h3.panel-title {
    a:hover {
      background-color: rgba(0,0,0,0);
      color: #111;
    }
  }

  .btn-group {
    margin-bottom: 5px;
    margin-left: 5px;
    
    .btn {
      margin-bottom: 0px;
      margin-left: 0px;
    }
  }

  .btn-link.danger {
    color: #a94442;
    float: right;
    margin-bottom: 5px;
    margin-right: 5px;
  }

  .btn {
    margin-bottom: 5px;
    margin-left: 5px;
  }

  .panel {
    overflow: auto;
    
    p {
      margin-left: 15px;
      margin-right: 15px;
      margin-top: 5px;
      text-align: justify;
    }
  }
}