.container.schedule {
  .time {
    color: #555;
    font-weight: 700;
    text-align: center;

    h4 {
      margin-top: 40px;
    }

  }.past {
    background-color: lighten( green, 50% );
  }

  
  .time-container.past {
      background-color: lighten( green, 50% );
  }

  .col-sm-2.past {
    background-color: lighten( green, 50% );
  }

  .col-sm-9.past {
    background-color: lighten( green, 50% );
  }

  p {
    margin-bottom: 2px;
  }
}